@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@theme {
  --color-background: #232946;
  --color-button: #dea954;
  --color-paragraph: #b8c1ec;
  --color-headline: #fffffe;
}

@theme {
  --container-padding: 2rem;
  --screen-sm: 640px;
  --screen-md: 768px;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
